{# empty Twig template #}
{%extends "/layout/base.twig"%}
{% block title %}
	<title>Semio labs || Modification articles </title>
{% endblock %}
{%block css%}
{{parent()}}

{%endblock%}
{%block content%}
<div id="wrap" class="wrap">
         
    <div class="content">
        {% if app.session.hasFlash('success') %}
        <div class="alert alert-block alert-success">
            <h4> Succ&eacute;s </h4>
                    {{ app.session.flash('success') | raw }}
        </div>
            {% elseif app.session.hasFlash('error') %}
        <div class="alert alert-block alert-error">
            <h4>Error</h4>
             {{ app.session.flash('error') | raw }}
        </div>
        {% endif %}
        <form class="formulaire" action="#" method="post" {{ form_enctype(form) }} novalidate>
			{{ form_widget(form) }}
			<input type="submit" name="Modifier" class="btn btn-large btn-primary" />
        </form>
 </div>
    </div>

{% endblock %}

